body {
    margin: 0px;
    padding: 30px;
    background: rgb(221, 221, 221);    
}

p{
    font:  small-caps 16px/2 cursive;
}

textarea {
    margin: 5px;
    width: 172px;
    padding: 5px;
    background: rgb(190, 255, 215);
    border-radius: 8px;
    color: rgb(0, 141, 54);
}

button {
    margin: 5px;
    padding: 5px;
    width: 180px;
    background: rgb(132, 90, 248);
    border-radius: 8px;
    color: aliceblue;
    text-align: center;
}

.box{
    margin: 50px;
}
