.FinishedQuiz {
    color: aliceblue;
    padding: 20px;
    border: 2px solid wheat;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 10px;
}

.FinishedQuiz ul {
    list-style: none;
    padding: 0;     
    margin: 0;
}

.FinishedQuiz ul li  i {
    margin-left: 10px; 
}

.succes {
    color: rgb(160, 240, 69);
}

.error {
    color: rgb(255, 99, 120);
}

button {     
    border: 2px solid wheat;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px 30px   ;
    color: aliceblue;
    background-color: rgb(17, 179, 117);
    display: inline-block;     
}